.pokemonCard {
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #f1f1f1;
}
.imgDescriptionCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
  box-sizing: border-box;
  padding: 0.5em;
}

.infoCard {
  margin-top: 0.8em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  box-sizing: border-box;
  padding: 0.5em;
}
.button {
  padding: 8px 8px 8px 8px;
  width: 10em;
  background-color: #dd9700;
  border-style: none;
  border-radius: 20px;
  &:hover {
    background-color: #b87d00;
  }
}
.artworkImg {
  max-width: 75%;
}
h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.idTag {
  width: 3.5em;
  text-align: center;
  margin-right: auto;
  background-color: #be0b0b;
  color: #fff;
  padding: 14px 8px 14px 0;
  border-radius: 0 22px 22px 0px;
}
