.pokemonCard {
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #dfecd8;
}
.infoCard {
  background-color: #fff;
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.button {
  padding: 8px 12px 8px 12px;
  width: 10em;
  background-color: #dd9700;
  border-style: none;
  border-radius: 20px;
  &:hover {
    background-color: #b87d00;
  }
}
.artworkImg {
  max-width: 30%;
}
h2 {
  font-size: 1.2rem;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 700;
}