.pokemonList,
.listElement,
.pokemonLink,
.pokemonImg {
  display: flex;
  align-items: center;
}

.home {
  padding: 5em 1em 1em 1em;
}

.pokemonList {
  flex-flow: row wrap;
  justify-content: space-between;
}

.listElement {
  flex-flow: column nowrap;
  justify-content: center;
  width: 16em;
  height: 10em;
  margin: 0.5em 0.5em 1em 0.5em;

  background-color: #c9e9c3;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 0.875rem;
}

.pokemonLink,
.pokemonImg {
  flex-direction: column;
  justify-content: center;
}

a {
  color: #3f3f3f;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .listElement {
    width: 8.5em;
    margin: 0.5em 0.857em 1em 0.857em;
  }
}
