.App-header {
  width: 100vw;
  height: 65px;
  background-color: #be0b0b;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em 0 2em;
}
// .Search-container
//     display: flex
//     flex-flow: row nowrap
//     justify-content: center
//     align-items: center
//     &:focus
//         outline: none !important;
//         border:1px solid red;
//         box-shadow: 0 0 10px #719ECE;

.Search-bar {
  width: 15em;
  height: 2.25em;
  background-color: #ffffff;
  padding-left: 10px;
  border-style: none;
  border-radius: 20px 0 0 20px;
  &:hover {
    border-style: none;
  }
}
.Search-button {
  width: 2.3em;
  height: 2.25em;
  background-color: #ffffff;
  border-style: none;
  border-radius: 0 20px 20px 0;
  &:hover {
    background-color: #b8b8b8;
  }
}
.fa-magnifying-glass {
  padding-right: 5px;
}
