.App-footer {
  height: 40px;
  margin-top: auto;
  background-color: #a8a8a8;
  display: flex;
  align-items: center;
}
.icons-placeholder {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: center;
}